/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px yellow;
    background-color: #1846ec;
  }
  div {
    background: rgba(0, 255, 0, 0.3) /* Green background with 30% opacity */
  }
  /* Styling for elements with the "special" class */
    
  
  
  
  .special {
    background-color: lavender;
    border: dotted 5px red;
    color: pink;
    font-weight: bold;
}
